---
import { configLoader } from "../../utils/configLoader";
const CONFIG = await configLoader();

import { getCollection } from "astro:content";
import { Masonry } from "astro-masonry";
import BaseLayout from "../../layouts/Base.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const blog_posts = (await getCollection("blog")).filter((post) =>
    import.meta.env.PROD ? post.data.draft !== true : true
  );
  blog_posts.sort(
    (a: any, b: any) =>
      Date.parse(b.data.dateCreated) - Date.parse(a.data.dateCreated)
  );

  const unique_tags = [
    ...new Set(blog_posts.map((post: any) => post.data.tags).flat()),
  ];

  return unique_tags.map((tag) => {
    const filtered_blog_posts = blog_posts.filter((post: any) =>
      post.data.tags.includes(tag)
    );
    const postQty = filtered_blog_posts.length;
    return {
      params: { tag: tag.replace(/\s+/g, "-") },
      props: { posts: filtered_blog_posts, original_tag: tag, count: postQty },
    };
  });
}

const { posts, original_tag, count } = Astro.props;

if (count == 1) {
  var break_two = 1;
} else {
  var break_two = 2;
}

const page_title = original_tag + " | " + CONFIG.TITLE;
const page_description = "Posts tagged with '" + original_tag + "'";
const page_url = CONFIG.URL + "/tags/" + original_tag.replace(/\s+/g, "-");
---

<BaseLayout
  page_title={page_title}
  page_description={page_description}
  page_url={page_url}
>
  <Masonry breakpointCols={{ default: break_two, 1224: 1 }} , class="gap-6">
    <div class="boxed border-2 mb-6 border-grey-900 p-4">
      <h1 class="text-4xl font-bold">
        {count} post{count == 1 ? "" : "s"} tagged with <i>{original_tag}</i>
      </h1>
    </div>
    {
      posts.map((post: any) => (
        <BlogPost
          url={"/" + post.data.slug}
          title={post.data.title}
          tags={post.data.tags}
          post={post}
          author={post.data.author}
          created={post.data.dateCreated}
          image={post.data.image}
          excerpt={post.data.excerpt}
          // selected_tag, for lack of a better name, is the tag page that the user is currently viewing
          selected_tag={original_tag}
        />
      ))
    }
  </Masonry>
</BaseLayout>
