---
import { configLoader } from "../utils/configLoader";
const CONFIG = await configLoader();

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Metadata from "../components/Metadata.astro";
const { page_title, page_description, page_url, meta_type, meta_image } =
  Astro.props;
import "../styles/global.css";
import "../config/custom.css";

// Data theme should only be set if we've loaded all DaisyUI themes,
// as it's the only way to specify the initial theme. Probably only
// useful for the demo site theme switcher. Otherwise, theme is pulled
// from config file into global.css by generateGlobalCSS.mjs (runs on dev/build).
const theme =
  CONFIG.THEME_SWITCH_MODE === "all" && CONFIG.LIGHT_THEME
    ? CONFIG.LIGHT_THEME
    : null;
---

<html lang="en" data-theme={theme}>
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <Metadata
      meta_type={meta_type}
      meta_title={page_title}
      meta_description={page_description}
      meta_url={page_url}
      meta_image={meta_image}
      meta_sitename={CONFIG.TITLE}
    />
  </head>
  <body class="relative min-h-screen flex flex-col">
    <Header />
    <main
      id="mainContent"
      class="bg-base-200 min-h-screen md:ml-64 mt-5 md:mt-0 justify-center"
    >
      {
        // Removing flex ^ helped with post image full-width setting, but IIRC,
        // flex was added at the same time as min-h-screen to fix the footer
        // being at the bottom of the page when there was not enough content.
        // min-h-screen seems to work without flex. ¯\_(ツ)_/¯
      }
      <slot />
    </main>
    <Footer />
  </body><script>
    const sidebar = document.getElementById("sidebar");
    const hamburger = document.getElementById("hamburger");
    const logoMain = document.getElementById("logoMain");
    const logo = document.getElementById("logoSidebar");

    // Toggle the sidebar's visibility and update hamburger position.
    // TODO: Plan to change Logo layout in future iteration - verify what is still required.
    function toggleSidebar() {
      sidebar?.classList.toggle("-translate-x-full");
      if (sidebar?.classList.contains("-translate-x-full")) {
        // Sidebar is closed
        logoMain?.classList.remove("opacity-0");
        logoMain?.classList.add("opacity-100");
        logo?.classList.remove("opacity-100");
        hamburger?.classList.add("absolute");
        hamburger?.classList.remove("fixed");
      } else {
        // Sidebar is open
        logoMain?.classList.remove("opacity-100");
        logoMain?.classList.add("opacity-0");
        logo?.classList.remove("opacity-0");
        logo?.classList.add("opacity-100");
        hamburger?.classList.add("fixed");
        hamburger?.classList.remove("absolute");
      }
    }

    // Toggle sidebar when clicking the hamburger.
    hamburger?.addEventListener("click", (e) => {
      toggleSidebar();
      // Prevent click from bubbling up to the document.
      e.stopPropagation();
    });

    // Prevent clicks within the sidebar from bubbling up.
    sidebar?.addEventListener("click", (e) => {
      e.stopPropagation();
    });

    // When clicking anywhere in the document on mobile, close the sidebar.
    document.addEventListener("click", (e) => {
      if (window.innerWidth < 768) {
        if (!sidebar?.classList.contains("-translate-x-full")) {
          // TODO: .closest - This doesn't seem to work correctly. Test without.
          if (
            !e.target.closest("#sidebar") &&
            !e.target.closest("#hamburger")
          ) {
            toggleSidebar();
          }
        }
      }
    });
  </script>
</html>
