---
import { configLoader } from "../utils/configLoader";
const CONFIG = await configLoader();

import BaseLayout from "./Base.astro";
import TagSingle from "../components/TagSingle.astro";
const { data } = Astro.props;

let byline_html_string: string;
if (
  CONFIG.BLOG_POST_SHOW_AUTHOR == false &&
  CONFIG.BLOG_POST_SHOW_DATE == false
) {
  byline_html_string = "";
} else {
  byline_html_string = '<p class="byline mb-2">Posted';
  if (CONFIG.BLOG_POST_SHOW_AUTHOR == true) {
    byline_html_string += " by " + data.author;
  }
  if (CONFIG.BLOG_POST_SHOW_DATE == true) {
    byline_html_string += " on " + data.dateCreated.toString().slice(0, 10);
  }
  byline_html_string += "</p>";
}

let image_path: string;
if (data.image) {
  if (data.image.includes("http")) {
    image_path = data.image;
  } else {
    image_path = "/images/" + data.image;
  }
  var post_image =
    '<img src="' +
    image_path +
    '" alt="' +
    data.title +
    '" class="--ml-6 mr-6 w-full h-96 object-cover object-center mb-8">';
} else {
  var post_image = "";
  image_path = "";
}

// If no description is provided, use the title as the description
let page_description: string;
if (data.description) {
  page_description = data.description;
} else {
  page_description = data.title;
}
const page_title = data.title + " | " + CONFIG.TITLE;
const page_url = CONFIG.URL + data.url;
---

<BaseLayout
  page_title={page_title}
  page_description={page_description}
  page_url={page_url}
  meta_type="article"
  meta_image={image_path}
>
  <Fragment set:html={post_image} />
  <div id="meta_data" class="max-w-[65ch]">
    <h1 class="text-4xl font-bold max-w-[65ch]">{data.title}</h1>
    <Fragment set:html={byline_html_string} />
    <div class="tags mb-8">
      {
        data.tags.map((tag: string) => (
          <TagSingle
            label={tag}
            url={`/tags/${tag.replace(/\s+/g, "-")}`}
            count={0}
            display_count={false}
          />
        ))
      }
    </div>
  </div>
  <article class="prose mt-2 prose-headings:-my-2 prose-h2:mb-2">
    <slot />
  </article>
</BaseLayout>
